// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1d1d;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

// Begin semimono declarations
@white: #f5f5f5;

@medium-grey: #6e6e6f;
@semi-light-grey: #848587;
@light-grey: #ababaf;

@darker-purple: #615289;
@dark-purple: #716394;
@light-purple: #ab9fc3;

@medium-green: #85a442;
@light-green: #b2c094;

@light-yellow: #d2c09c;

@dark-orange: #b8581e;
@medium-orange: #d9924d;
@semi-light-orange: #d4a474;

@light-blue: #a0b4cd;
@medium-blue: #688bb4;

@medium-coral: #e88787;
@semi-light-coral: #ebaaaa;
